@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap');

*:not(.material-icons, .material-symbols-outlined, i, .fa) {
    font-family: 'Noto Serif TC', serif;
  }

.footer {
    background-color: #FFEEDD;
    padding: 20px;
    /* display: flex;
    justify-content: center; */
    /* color: #ffffff; */
    text-align: center;
  }
  
  .footerIcons {
    display: grid;
    margin: auto;
    margin-bottom: 20px;
    /* max-width: 20vw; */
    max-width: 100px;
    grid-auto-flow: column;
  }
  
  .footerLinks {
    display: grid;
    margin: auto;
    grid-auto-flow: column;
    /* max-width: 80vw; */
    max-width: 750px;
    grid-gap: 10px;
    /* text-align: start; */
  }
  
  .footerLinks hr {
    width: 81px;
  }
  
  .allRightsReserved {
    padding: 20px;
    text-align: center;
  }

  .footerLinks a {
    color: #000000;
    text-decoration: none;
  }