@media screen and (min-width: 577px) {

  .to-top {
    bottom: 40px;
    right: 40px;
  }

  .mat-icon {
    width: 35px;
    height: 35px;
  }

  .mat-icon::before {
    font-size: 35px;
  }
}

@media screen and (max-width: 576px) {

  .to-top {
    bottom: 20px;
    right: 20px;
  }
}

.to-top {
  cursor: pointer;
  position: fixed;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100%;
  /* border: 3px solid #747474; */
  color: #747474;
  background-color: #ffffff;
  transition: all 0.25s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.to-top:hover {
  opacity: 1;
  transition: all 0.25s ease;
}
