<mat-toolbar class="toolbarSmall">

  <button mat-icon-button (click)="drawer.toggle()" class="menuIcon" aria-label="Icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="toolbarTitle">

    <button mat-button>
      <a class="toolbarButtonLink" routerLink="">
        <div class="toolbarHomeButton">
          <img class="toolbarLogo" src="./assets/images/logo-removebg-preview.png" alt="Good Fun Tea Logo" width="40"
            height="40">
          <div>古風茶創</div>
        </div>
      </a>
    </button>

  </div>

  <span class="toolbarSpacer"></span>

  <!-- <button mat-icon-button [matMenuTriggerFor]="member" aria-label="Account icon">
    <mat-icon>person_outline</mat-icon>
  </button>
  <mat-menu class="menu" #member="matMenu">
    <button mat-menu-item>會員中心</button>
    <button mat-menu-item>登出</button>
  </mat-menu>

  <button mat-icon-button aria-label="Shopping Cart icon">
    <span class="material-symbols-outlined">
      shopping_cart
    </span>
  </button> -->

</mat-toolbar>

<!-- Large Toolbar -->

<mat-toolbar class="toolbarLarge">

  <button mat-button>
    <a class="toolbarButtonLink" routerLink="">
      <span class="toolbarTitle">
        <img class="toolbarLogo" src="./assets/images/logo-removebg-preview.png" alt="Good Fun Tea Logo" width="40"
          height="40">
        古風茶創
      </span>
    </a>
  </button>

  <div class="toolbarButtons">

    <button mat-button [matMenuTriggerFor]="news">最新消息</button>
    <mat-menu class="menu" #news="matMenu">
      <a class="toolbarButtonLink"><button mat-menu-item>動態公告</button></a>
      <a class="toolbarButtonLink"><button mat-menu-item>Facebook</button></a>
      <a class="toolbarButtonLink"><button mat-menu-item>Instagram</button></a>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="aboutUs">關於我們</button>
    <mat-menu class="menu" #aboutUs="matMenu">
      <a class="toolbarButtonLink" routerLink="about-us"><button mat-menu-item (click)="drawer.close()">品牌故事</button></a>
      <a class="toolbarButtonLink" routerLink="about-us"><button mat-menu-item (click)="drawer.close()">品牌經歷</button></a>
      <a class="toolbarButtonLink" routerLink="about-us"><button mat-menu-item (click)="drawer.close()">品牌理念</button></a>
      <a class="toolbarButtonLink" routerLink="about-us"><button mat-menu-item (click)="drawer.close()">採訪/活動照片</button></a>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="shop">瀏覽商品</button>
    <mat-menu class="menu" #shop="matMenu">
      <button mat-menu-item>茶包系列</button>
      <button mat-menu-item>原片系列</button>
      <button mat-menu-item>茶點系列</button>
      <button mat-menu-item>茶具系列</button>
      <button mat-menu-item>組合系列</button>
      <button mat-menu-item>禮盒系列</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="orderOnline">線上訂購</button>
    <mat-menu class="menu" #orderOnline="matMenu">
      <a class="toolbarButtonLink" target="_blank" href="https://myship.7-11.com.tw/general/detail/GM2205165689500">
        <button mat-menu-item>7-ELEVEN 賣貨便</button>
      </a>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="delivery">出貨資訊</button>
    <mat-menu class="menu" #delivery="matMenu">
      <button mat-menu-item>出貨方式</button>
      <button mat-menu-item>出貨天數</button>
      <button mat-menu-item>付款方式</button>
    </mat-menu>

    <a class="toolbarButtonLink" routerLink="contact-us"><button mat-button>聯絡我們</button></a>
    <!-- <mat-menu class="menu" #contactUs="matMenu">
      <a class="toolbarButtonLink" routerLink="contact-us"><button mat-menu-item>電子信箱</button></a>
    </mat-menu> -->

  </div>

  <span class="toolbarSpacer"></span>

  <!-- <button mat-icon-button [matMenuTriggerFor]="member" aria-label="Account icon">
    <mat-icon>person_outline</mat-icon>
  </button>
  <mat-menu class="menu" #member="matMenu">
    <button mat-menu-item>會員中心</button>
    <button mat-menu-item>登出</button>
  </mat-menu>
  <button mat-icon-button aria-label="Shopping Cart icon">
    <span class="material-symbols-outlined">
      shopping_cart
    </span>
  </button> -->

</mat-toolbar>

<!-- Small Toolbar Drawer -->

<mat-drawer-container class="drawerContainer">
  <mat-drawer #drawer class="sidenav" mode="push" [autoFocus]="false">

    <mat-accordion>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            最新消息
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div><button mat-button>動態公告</button></div>
        <div><button mat-button>Facebook</button></div>
        <div><button mat-button>Instagram</button></div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            關於我們
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div><a class="toolbarButtonLink" routerLink="about-us"><button mat-button (click)="drawer.close()">品牌故事</button></a></div>
        <div><a class="toolbarButtonLink" routerLink="about-us"><button mat-button (click)="drawer.close()">品牌經歷</button></a></div>
        <div><a class="toolbarButtonLink" routerLink="about-us"><button mat-button (click)="drawer.close()">品牌理念</button></a></div>
        <div><a class="toolbarButtonLink" routerLink="about-us"><button mat-button (click)="drawer.close()">採訪/活動照片</button></a></div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            瀏覽商品
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div><button mat-button>茶包系列</button></div>
        <div><button mat-button>原片系列</button></div>
        <div><button mat-button>茶點系列</button></div>
        <div><button mat-button>茶具系列</button></div>
        <div><button mat-button>組合系列</button></div>
        <div><button mat-button>禮盒系列</button></div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            線上訂購
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <a class="toolbarButtonLink" target="_blank" href="https://myship.7-11.com.tw/general/detail/GM2205165689500">
            <button mat-button (click)="drawer.close()">7-ELEVEN 賣貨便</button>
          </a>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            出貨資訊
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div><button mat-button>出貨方式</button></div>
        <div><button mat-button>出貨天數</button></div>
        <div><button mat-button>付款方式</button></div>
      </mat-expansion-panel>

      <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            聯絡我們
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div><button mat-button>E-mail</button></div>
      </mat-expansion-panel> -->

      <a class="toolbarButtonLink" routerLink="contact-us"><button mat-raised-button class="menuButton" (click)="drawer.close()">聯絡我們</button></a>

    </mat-accordion>

  </mat-drawer>

  <!-- ***** router-outlet ***** -->
  <router-outlet (activate)="scrollToTop()"></router-outlet>

  <!-- Footer -->
  <div class="footer">

    <div class="footerIcons">
      <!-- Add font awesome icons -->
      <i class="fa-solid fa-bag-shopping"></i>
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>

    <div class="footerLinks">
      <div class="footerAboutUs">
        <h3>關於我們<hr></h3>
        
        <div>品牌故事</div>
        <div>隱私政策</div>
      </div>

      <div class="footerShoppingGuide">
        <h3>購物說明<hr></h3>
        <div>服務條款</div>
        <div>退換貨方式</div>
      </div>

      <div class="footerServiceInformation">
        <h3>常見問題<hr></h3>
        <div><a routerLink="contact-us">聯絡我們</a></div>
      </div>
    </div>

  </div>

  <div class="allRightsReserved">
    <small>&copy; Copyright 2022, Good Fun Tea</small>
  </div>

  <!-- Back to top button -->
  <div class="to-top" (click)="scrollToTop()" [ngClass]="{ 'show-scrollTop': windowScrolled }">
    <span class="material-symbols-outlined">
      expand_less
    </span>
    <div class="to-top-word">TOP</div>
  </div>

</mat-drawer-container>