@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap');

.toolbarSpacer {
  flex: 1 1 auto;
}

@media screen and (min-width: 577px) {

  /* Display menu icon on mobile devices */
  .smallProductGridList {
    display: none;
  }
}

@media screen and (max-width: 576px) {

  /* Hide menu icon on large screen */
  .largeProductGridList {
    display: none;
  }
}

@media screen and (min-width: 993px) {

  /* Display menu icon on mobile devices */
  button.menuIcon,
  .toolbarSmall {
    display: none;
  }
}

@media screen and (max-width: 992px) {

  /* Hide menu icon on large screen */
  .toolbarButtons,
  .toolbarLarge {
    display: none;
  }
}

/* *:not(.material-icons, .material-symbols-outlined, i, .fa) {
  font-family: 'Noto Serif TC', serif;
} */

.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  /* Ensure that your app's content doesn't overlap the toolbar */
}

::ng-deep .mat-toolbar {
  height: 56px;
  border-bottom: 1px solid #c8c8c9;
}

.toolbarButtonLink {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

/* .footerLinks a {
  color: #000000;
  text-decoration: none;
} */

.toolbarTitle, .toolbarHomeButton>div {
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 0.25rem;
}

.toolbarHomeButton {
  display: flex;
}

.toolbarLarge .toolbarTitle {
  display: flex;
  align-items: center;
}

.toolbarSmall .toolbarTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.toolbarButtons>button {
  /* font-family: 'Noto Serif TC', serif; */
}

/* ::ng-deep .menu .mat-menu-item {
  font-family: 'Noto Serif TC', serif;
} */

.sidenav {
  width: auto;
}

.sidenav .menuButton {
  width: 100%;
  text-align: start;
  padding-left: 24px;
  height: 48px;
  font-size: 15px;
}

.drawerContainer {
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: #eee; */
}

.drawerContainer button,
.menuLink {
  color: #000000DE;
  text-decoration: none;
}
