<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">


  <!-- Small Toolbar -->

  <mat-toolbar class="toolbarSmall">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu class="menu" #menu="matMenu">
      <button mat-menu-item>關於我們</button>
      <button mat-menu-item>瀏覽商品</button>
      <button mat-menu-item>聯絡我們</button>
    </mat-menu>

    <div class="toolbarTitle">
        <img class="toolbarLogo" src="../assets/images/logo-removebg-preview.png" alt="Girl in a jacket" width="40"
          height="40">
      <div>古風茶創</div>
    </div>

    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="member" aria-label="Account icon">
      <mat-icon>person_outline</mat-icon>
    </button>
    <mat-menu class="menu" #member="matMenu">
      <button mat-menu-item>會員中心</button>
      <button mat-menu-item>登出</button>
    </mat-menu>
    <button mat-icon-button aria-label="Shopping Cart icon">
      <span class="material-symbols-outlined">
        shopping_cart
        </span>
    </button>

  </mat-toolbar>


  <!-- Large Toolbar -->

<mat-toolbar class="toolbarLarge">

  <span class="toolbarTitle">
    <img class="toolbarLogo" src="../assets/images/logo-removebg-preview.png" alt="Girl in a jacket" width="40"
      height="40">
    古風茶創
  </span>

  <div class="toolbarButtons">

    <button mat-button>關於我們</button>

    <button mat-button [matMenuTriggerFor]="shop">瀏覽商品</button>
    <mat-menu class="menu" #shop="matMenu">
      <button mat-menu-item>所有商品</button>
      <button mat-menu-item>精選</button>
      <button mat-menu-item>新上市</button>
      <button mat-menu-item>禮盒</button>
      <button mat-menu-item>優惠</button>
    </mat-menu>

    <button mat-button>聯絡我們</button>

  </div>

  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="member" aria-label="Account icon">
    <mat-icon>person_outline</mat-icon>
  </button>
  <mat-menu class="menu" #member="matMenu">
    <button mat-menu-item>會員中心</button>
    <button mat-menu-item>登出</button>
  </mat-menu>
  <button mat-icon-button aria-label="Shopping Cart icon">
    <span class="material-symbols-outlined">
      shopping_cart
      </span>
  </button>

</mat-toolbar>









<!-- swiper -->
  <swiper
    class="swiper"
    [slidesPerView]="1" 
    [spaceBetween]="50" 
    (swiper)="onSwiper($event)" 
    (slideChange)="onSlideChange()"
    [navigation]="true" 
    [pagination]="{ clickable: true }" 
    [loop]="true"
    [autoplay]="true"
    effect="fade"
    >
    <ng-template swiperSlide><img src="../assets/images/oriento-unsplash-5-2.jpg" alt="Tea" width="100%"></ng-template>
    <ng-template swiperSlide><img src="../assets/images/oriento-unsplash-1-2.jpg" alt="Tea" width="100%"></ng-template>
    <ng-template swiperSlide><img src="../assets/images/oriento-unsplash-3-2.jpg" alt="Tea" width="100%"></ng-template>
    <ng-template swiperSlide><img src="../assets/images/oriento-unsplash-4-2.jpg" alt="Tea" width="100%"></ng-template>
  </swiper>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
