<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">

    <!-- Small Toolbar -->

    <mat-toolbar class="toolbarSmall">

      <button mat-icon-button (click)="drawer.toggle()" class="menuIcon"
        aria-label="Icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="toolbarTitle">
        <img class="toolbarLogo" src="./assets/images/logo-removebg-preview.png" alt="Good Fun Tea Logo" width="40"
          height="40">
        <div>古風茶創</div>
      </div>

      <span class="toolbarSpacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="member" aria-label="Account icon">
        <mat-icon>person_outline</mat-icon>
      </button>
      <mat-menu class="menu" #member="matMenu">
        <button mat-menu-item>會員中心</button>
        <button mat-menu-item>登出</button>
      </mat-menu>

      <button mat-icon-button aria-label="Shopping Cart icon">
        <span class="material-symbols-outlined">
          shopping_cart
        </span>
      </button>

    </mat-toolbar>

    <!-- Large Toolbar -->

    <mat-toolbar class="toolbarLarge">

      <span class="toolbarTitle">
        <img class="toolbarLogo" src="./assets/images/logo-removebg-preview.png" alt="Good Fun Tea Logo" width="40"
          height="40">
        古風茶創
      </span>

      <div class="toolbarButtons">

        <button mat-button [matMenuTriggerFor]="aboutUs">關於我們</button>
        <mat-menu class="menu" #aboutUs="matMenu">
          <button mat-menu-item>品牌簡介</button>
          <button mat-menu-item>品牌經歷</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="shop">瀏覽商品</button>
        <mat-menu class="menu" #shop="matMenu">
          <button mat-menu-item>所有商品</button>
          <button mat-menu-item>冷泡茶</button>
          <button mat-menu-item>原味黑糖磚</button>
          <button mat-menu-item>包種茶</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="contactUs">聯絡我們</button>
        <mat-menu class="menu" #contactUs="matMenu">
          <button mat-menu-item>E-mail</button>
          <a class="menuLink" href="https://www.facebook.com/%E5%8F%A4%E9%A2%A8%E8%8C%B6%E5%89%B5-Good-Fun-108574641279639" target="_blank"><button mat-menu-item>Facebook</button></a>
          <a class="menuLink" href="https://www.instagram.com/gdfuntea/" target="_blank"><button mat-menu-item>Instagram</button></a>
        </mat-menu>

      </div>

      <span class="toolbarSpacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="member" aria-label="Account icon">
        <mat-icon>person_outline</mat-icon>
      </button>
      <mat-menu class="menu" #member="matMenu">
        <button mat-menu-item>會員中心</button>
        <button mat-menu-item>登出</button>
      </mat-menu>
      <button mat-icon-button aria-label="Shopping Cart icon">
        <span class="material-symbols-outlined">
          shopping_cart
        </span>
      </button>

    </mat-toolbar>

    <!-- Drawer -->

    <mat-drawer-container class="drawerContainer">
      <mat-drawer #drawer class="sidenav" mode="push" [autoFocus]="false">
  
        <mat-accordion>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                關於我們
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div><button mat-button>品牌簡介</button></div>
            <div><button mat-button>品牌經歷</button></div>
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                瀏覽商品
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div><button mat-button>所有商品</button></div>
            <div><button mat-button>冷泡茶</button></div>
            <div><button mat-button>原味黑糖磚</button></div>
            <div><button mat-button>包種茶</button></div>
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                聯絡我們
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div><button mat-button>E-mail</button></div>
            <div><a href="https://www.facebook.com/%E5%8F%A4%E9%A2%A8%E8%8C%B6%E5%89%B5-Good-Fun-108574641279639" target="_blank"><button mat-button>Facebook</button></a></div>
            <div><a href="https://www.instagram.com/gdfuntea/" target="_blank"><button mat-button>Instagram</button></a></div>
          </mat-expansion-panel>
  
        </mat-accordion>
  
      </mat-drawer>

    <!-- swiper -->
    <swiper class="swiper" [slidesPerView]="1" [spaceBetween]="50" (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()" [navigation]="true" [pagination]="{ clickable: true }" [loop]="true"
      [autoplay]="true" effect="fade">
      <ng-template swiperSlide><img src="./assets/images/slider_1.jpg" alt="Tea" width="100%"></ng-template>
      <ng-template swiperSlide><img src="./assets/images/slider_2.jpg" alt="Tea" width="100%"></ng-template>
      <ng-template swiperSlide><img src="./assets/images/slider_3.jpg" alt="Tea" width="100%"></ng-template>
      <ng-template swiperSlide><img src="./assets/images/slider_4.jpg" alt="Tea" width="100%"></ng-template>
      <!-- <ng-template swiperSlide><img src="https://myship.7-11.com.tw/i/cgdm/GM2205165689500/GM2205165689500_1356780.jpg" alt="Tea" width="100%"></ng-template> -->
    </swiper>

    <!-- First Section -->

    <h1 class="headingSection">特色商品</h1>

    <div class="grid-container grid-container--fit">
      <div class="grid-element">
        <img class="imageHoverEffect" src="./assets/images/product_1.jpg" alt="Tea" width="100%">
        <div>冷泡茶</div>
      </div>
      <div class="grid-element">
        <img class="imageHoverEffect" src="./assets/images/product_2.jpg" alt="Tea" width="100%">
        <div>原味黑糖磚</div>
      </div>
      <div class="grid-element">
        <img class="imageHoverEffect" src="./assets/images/product_3.jpg" alt="Tea" width="100%">
        <div>包種茶</div>
      </div>
      <!-- <div class="grid-element">
        <img class="imageHoverEffect" src="./assets/images/oriento-unsplash-bestSellers-4.jpg" alt="Tea" width="100%">
        <div>包種茶</div>
      </div> -->
    </div>

    <h1 class="headingSection">關於我們</h1>
    
    <div class="aboutUsSection">
      <div class="aboutUsDescription">新世代茶業文化創意品牌「古風茶創」，以販售令人安心飲用的優質好茶為根本，
        結合新世代思維，重新詮釋茶文化的概念， 追求的，不只是純粹的茶滋味，而是將茶融入生活、帶入溫度， 品嚐每一口茶與情感的連結。</div>
      <div class="introductionVideo"><iframe class="introductionVideoFrame" src="https://www.youtube.com/embed/hexcIWsSp-0"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe></div>
    </div>

    <h1 class="headingSection">聯絡我們</h1>
    
  <div class="footer">

    <div class="fb-page"
      data-href="https://www.facebook.com/%E5%8F%A4%E9%A2%A8%E8%8C%B6%E5%89%B5-Good-Fun-108574641279639"
      data-tabs="timeline" data-width="" data-height="70" data-small-header="true" data-adapt-container-width="true"
      data-hide-cover="true" data-show-facepile="false">
      <blockquote cite="https://www.facebook.com/%E5%8F%A4%E9%A2%A8%E8%8C%B6%E5%89%B5-Good-Fun-108574641279639"
        class="fb-xfbml-parse-ignore"><a
          href="https://www.facebook.com/%E5%8F%A4%E9%A2%A8%E8%8C%B6%E5%89%B5-Good-Fun-108574641279639">古風茶創 Good Fun</a>
      </blockquote>
    </div>

  </div>


    </mat-drawer-container>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>