@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap');

.container {
  background-color: #F1F1EF;
  padding-bottom: 20px;
}

.toolbarSpacer {
  flex: 1 1 auto;
}

@media screen and (min-width: 577px) {

  /* Display menu icon on mobile devices */
  .smallProductGridList {
    display: none;
  }
}

@media screen and (max-width: 576px) {

  /* Hide menu icon on large screen */
  .largeProductGridList {
    display: none;
  }
}

@media screen and (min-width: 993px) {

  /* Display menu icon on mobile devices */
  button.menuIcon,
  .toolbarSmall {
    display: none;
  }
}

@media screen and (max-width: 992px) {

  /* Hide menu icon on large screen */
  .toolbarButtons,
  .toolbarLarge {
    display: none;
  }
}

*:not(.material-icons, .material-symbols-outlined) {
  font-family: 'Noto Serif TC', serif;
}

/* .toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 1000;
} */

/* .toolbarSmall, .toolbarLarge {
  position: sticky;
  top: 0;
  z-index: 1000;
} */

.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  /* Ensure that your app's content doesn't overlap the toolbar */
}

::ng-deep .mat-toolbar {
  height: 56px;
}

.toolbarButtonLink {
  text-decoration: none;
  color: #000000;
}

.toolbarTitle {
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 0.25rem;
}

.toolbarLarge .toolbarTitle {
  display: flex;
  align-items: center;
}

.toolbarSmall .toolbarTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.toolbarButtons>button {
  font-family: 'Noto Serif TC', serif;
}

::ng-deep .menu .mat-menu-item {
  font-family: 'Noto Serif TC', serif;
}

.sidenav {
  width: auto;
}

.swiper {
  --swiper-theme-color: #ffffff;
  --swiper-navigation-color: #ffffff;
  --swiper-navigation-size: 30px;
}

.headingSection {
  text-align: center;
  margin: 1em;
}

.imageHoverEffect {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.5s ease;
}

.imageHoverEffect:hover {
  opacity: 1;
  transition: all 0.5s ease;
}

.grid-container {
  display: grid;
}

.grid-container--fit {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-element {
  /* background-color: deepPink; */
  padding: 0 20px 20px 20px;
  /* color: #fff; */
  border: 1px solid #fff;
  text-align: center;
}

.aboutUsSection {
  margin-left: 20px;
  margin-right: 20px;
}

.aboutUsDescription {
  margin: 0 auto 20px;
  margin-bottom: 20px;
  background-color: #E0E0E0;
  padding: 2em;
  border-radius: 8px;
  max-width: 75vw;
}

.introductionVideo {
  text-align: center;
  /* margin-bottom: 20px; */
}

.introductionVideoFrame {
  width: 60vw;
  height: calc(60vw/1.77);
  text-align: center;
}

.footer {
  text-align: center;
}

.drawerContainer {
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: #eee; */
}

.drawerContainer button,
.menuLink {
  color: #000000DE;
  text-decoration: none;
}