<div class="container">

    <!-- Small Toolbar -->

    <mat-toolbar class="toolbarSmall">

        <button mat-icon-button (click)="drawer.toggle()" class="menuIcon" aria-label="Icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>

        <div class="toolbarTitle">
            <img class="toolbarLogo" src="./assets/images/logo-removebg-preview.png" alt="Good Fun Tea Logo" width="40"
                height="40">
            <div>古風茶創</div>
        </div>

        <span class="toolbarSpacer"></span>

        <!-- <button mat-icon-button [matMenuTriggerFor]="member" aria-label="Account icon">
        <mat-icon>person_outline</mat-icon>
      </button>
      <mat-menu class="menu" #member="matMenu">
        <button mat-menu-item>會員中心</button>
        <button mat-menu-item>登出</button>
      </mat-menu>

      <button mat-icon-button aria-label="Shopping Cart icon">
        <span class="material-symbols-outlined">
          shopping_cart
        </span>
      </button> -->

    </mat-toolbar>

    <!-- Large Toolbar -->

    <mat-toolbar class="toolbarLarge">

        <span class="toolbarTitle">
            <img class="toolbarLogo" src="./assets/images/logo-removebg-preview.png" alt="Good Fun Tea Logo" width="40"
                height="40">
            古風茶創
        </span>

        <div class="toolbarButtons">

            <button mat-button>最新消息</button>

            <button mat-button [matMenuTriggerFor]="aboutUs">關於我們</button>
            <mat-menu class="menu" #aboutUs="matMenu">
                <a class="toolbarButtonLink" routerLink="about-us"><button mat-menu-item>品牌故事</button></a>
                <a class="toolbarButtonLink" routerLink="about-us"><button mat-menu-item>品牌經歷</button></a>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="shop">瀏覽商品</button>
            <mat-menu class="menu" #shop="matMenu">
                <button mat-menu-item>茶包系列</button>
                <button mat-menu-item>原片系列</button>
                <button mat-menu-item>茶點系列</button>
                <button mat-menu-item>茶具系列</button>
                <button mat-menu-item>組合系列</button>
                <button mat-menu-item>禮盒系列</button>
            </mat-menu>

            <a class="toolbarButtonLink" target="_blank"
                href="https://myship.7-11.com.tw/general/detail/GM2205165689500">
                <button mat-button>線上訂購</button>
            </a>

            <button mat-button [matMenuTriggerFor]="delivery">出貨資訊</button>
            <mat-menu class="menu" #delivery="matMenu">
                <button mat-menu-item>出貨方式</button>
                <button mat-menu-item>出貨天數</button>
                <button mat-menu-item>付款方式</button>
            </mat-menu>

            <button mat-button>聯絡我們</button>

        </div>

        <span class="toolbarSpacer"></span>

        <!-- <button mat-icon-button [matMenuTriggerFor]="member" aria-label="Account icon">
        <mat-icon>person_outline</mat-icon>
      </button>
      <mat-menu class="menu" #member="matMenu">
        <button mat-menu-item>會員中心</button>
        <button mat-menu-item>登出</button>
      </mat-menu>
      <button mat-icon-button aria-label="Shopping Cart icon">
        <span class="material-symbols-outlined">
          shopping_cart
        </span>
      </button> -->

    </mat-toolbar>

    <!-- Small Toolbar Drawer -->

    <mat-drawer-container class="drawerContainer">
        <mat-drawer #drawer class="sidenav" mode="push" [autoFocus]="false">

            <mat-accordion>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            最新消息
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div><button mat-button>Facebook</button></div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            關於我們
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div><button mat-button>品牌故事</button></div>
                    <div><button mat-button>品牌經歷</button></div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            瀏覽商品
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div><button mat-button>茶包系列</button></div>
                    <div><button mat-button>原片系列</button></div>
                    <div><button mat-button>茶點系列</button></div>
                    <div><button mat-button>茶具系列</button></div>
                    <div><button mat-button>組合系列</button></div>
                    <div><button mat-button>禮盒系列</button></div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            線上訂購
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <a class="toolbarButtonLink" target="_blank"
                            href="https://myship.7-11.com.tw/general/detail/GM2205165689500">
                            <button mat-button>7-ELEVEN 交貨便</button>
                        </a>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            出貨資訊
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div><button mat-button>出貨方式</button></div>
                    <div><button mat-button>出貨天數</button></div>
                    <div><button mat-button>付款方式</button></div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            聯絡我們
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div><button mat-button>E-mail</button></div>
                </mat-expansion-panel>

            </mat-accordion>

        </mat-drawer>

        <!-- swiper -->
        <swiper class="swiper" [slidesPerView]="1" [spaceBetween]="50" (swiper)="onSwiper($event)"
            (slideChange)="onSlideChange()" [navigation]="true" [pagination]="{ clickable: true }" [loop]="true"
            [autoplay]="true" effect="fade">
            <!-- <ng-template swiperSlide><img src="./assets/images/slider_1.jpg" alt="Tea" width="100%"></ng-template>
            <ng-template swiperSlide><img src="./assets/images/slider_2.jpg" alt="Tea" width="100%"></ng-template>
            <ng-template swiperSlide><img src="./assets/images/slider_3.jpg" alt="Tea" width="100%"></ng-template>
            <ng-template swiperSlide><img src="./assets/images/slider_4.jpg" alt="Tea" width="100%"></ng-template> -->
            <ng-template swiperSlide><img src="./assets/images/banner_1.jpg" alt="Tea" width="100%"></ng-template>
            <ng-template swiperSlide><img src="./assets/images/banner_2.jpg" alt="Tea" width="100%"></ng-template>
            <ng-template swiperSlide><img src="./assets/images/banner_3.jpg" alt="Tea" width="100%"></ng-template>
            <!-- <ng-template swiperSlide><img src="https://myship.7-11.com.tw/i/cgdm/GM2205165689500/GM2205165689500_1356780.jpg" alt="Tea" width="100%"></ng-template> -->
        </swiper>

        <!-- First Section -->



        <h1 class="headingSection">特色商品</h1>

        <mat-grid-list cols="1" rowHeight="1:1" class="smallProductGridList">
            <mat-grid-tile>
                <figure>
                    <img class="imageHoverEffect" src="./assets/images/product_1.jpg" alt="Tea" width="100%">
                    <figcaption>茶包系列</figcaption>
                </figure>
            </mat-grid-tile>

            <mat-grid-tile>
                <figure>
                    <img class="imageHoverEffect" src="./assets/images/product_2.jpg" alt="Tea" width="100%">
                    <figcaption>原片系列</figcaption>
                </figure>
            </mat-grid-tile>

           <mat-grid-tile>
                <figure>
                    <img class="imageHoverEffect" src="./assets/images/product_3.jpg" alt="Tea" width="100%">
                    <figcaption>茶點系列</figcaption>
                </figure>
            </mat-grid-tile>

           <mat-grid-tile>
                <figure>
                    <img class="imageHoverEffect" src="./assets/images/product_4.jpg" alt="Tea" width="100%">
                    <figcaption>茶具系列</figcaption>
                </figure>
            </mat-grid-tile>

            <mat-grid-tile>
                <figure>
                    <img class="imageHoverEffect" src="./assets/images/product_5.jpg" alt="Tea" width="100%">
                    <figcaption>組合系列</figcaption>
                </figure>
            </mat-grid-tile>

            <mat-grid-tile>
                <figure>
                    <img class="imageHoverEffect" src="./assets/images/product_6.jpg" alt="Tea" width="100%">
                    <figcaption>禮盒系列</figcaption>
                </figure>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="3" rowHeight="1:1" class="largeProductGridList">
            <mat-grid-tile>
                <figure>
                    <img class="imageHoverEffect" src="./assets/images/product_1.jpg" alt="Tea" width="100%">
                    <figcaption>茶包系列</figcaption>
                </figure>
            </mat-grid-tile>

            <mat-grid-tile>
                <figure>
                    <img class="imageHoverEffect" src="./assets/images/product_2.jpg" alt="Tea" width="100%">
                    <figcaption>原片系列</figcaption>
                </figure>
            </mat-grid-tile>

           <mat-grid-tile>
                <figure>
                    <img class="imageHoverEffect" src="./assets/images/product_3.jpg" alt="Tea" width="100%">
                    <figcaption>茶點系列</figcaption>
                </figure>
            </mat-grid-tile>

           <mat-grid-tile>
                <figure>
                    <img class="imageHoverEffect" src="./assets/images/product_4.jpg" alt="Tea" width="100%">
                    <figcaption>茶具系列</figcaption>
                </figure>
            </mat-grid-tile>

            <mat-grid-tile>
                <figure>
                    <img class="imageHoverEffect" src="./assets/images/product_5.jpg" alt="Tea" width="100%">
                    <figcaption>組合系列</figcaption>
                </figure>
            </mat-grid-tile>

            <mat-grid-tile>
                <figure>
                    <img class="imageHoverEffect" src="./assets/images/product_6.jpg" alt="Tea" width="100%">
                    <figcaption>禮盒系列</figcaption>
                </figure>
            </mat-grid-tile>
        </mat-grid-list>

        <!-- <div class="grid-container grid-container--fit">
            <div class="grid-element">
                <img class="imageHoverEffect" src="./assets/images/product_1.jpg" alt="Tea" width="100%">
                <div>冷泡茶</div>
            </div>
            <div class="grid-element">
                <img class="imageHoverEffect" src="./assets/images/product_2.jpg" alt="Tea" width="100%">
                <div>原味黑糖磚</div>
            </div>
            <div class="grid-element">
                <img class="imageHoverEffect" src="./assets/images/product_3.jpg" alt="Tea" width="100%">
                <div>包種茶</div>
            </div> -->
            <!-- <div class="grid-element">
        <img class="imageHoverEffect" src="./assets/images/oriento-unsplash-bestSellers-4.jpg" alt="Tea" width="100%">
        <div>包種茶</div>
      </div> -->
        <!-- </div> -->

        <h1 class="headingSection">關於我們</h1>

        <div class="aboutUsSection">
            <div class="aboutUsDescription">新世代茶業文化創意品牌「古風茶創」，以販售令人安心飲用的優質好茶為根本，
                結合新世代思維，重新詮釋茶文化的概念， 追求的，不只是純粹的茶滋味，而是將茶融入生活、帶入溫度， 品嚐每一口茶與情感的連結。</div>
            <div class="introductionVideo"><iframe class="introductionVideoFrame"
                    src="https://www.youtube.com/embed/hexcIWsSp-0" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div>
        </div>

        <h1 class="headingSection">聯絡我們</h1>

        <div class="footer">

            <div class="fb-page"
                data-href="https://www.facebook.com/%E5%8F%A4%E9%A2%A8%E8%8C%B6%E5%89%B5-Good-Fun-108574641279639"
                data-tabs="timeline" data-width="" data-height="70" data-small-header="true"
                data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
                <blockquote
                    cite="https://www.facebook.com/%E5%8F%A4%E9%A2%A8%E8%8C%B6%E5%89%B5-Good-Fun-108574641279639"
                    class="fb-xfbml-parse-ignore"><a
                        href="https://www.facebook.com/%E5%8F%A4%E9%A2%A8%E8%8C%B6%E5%89%B5-Good-Fun-108574641279639">古風茶創
                        Good Fun</a>
                </blockquote>
            </div>

        </div>


    </mat-drawer-container>


</div>