<div class="container" id="pageTop">

  <!-- swiper -->
  <swiper class="swiper" [slidesPerView]="1" [spaceBetween]="50" (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()" [navigation]="true" [pagination]="{ type: 'progressbar' }" [loop]="true"
    [autoplay]="true" [autoplay]="{ disableOnInteraction: false }" effect="fade">
    <ng-template swiperSlide><img src="./assets/images/banner_1.png" alt="Tea" width="100%"></ng-template>
    <ng-template swiperSlide><img src="./assets/images/banner_2.png" alt="Tea" width="100%"></ng-template>
    <ng-template swiperSlide><img src="./assets/images/banner_3.png" alt="Tea" width="100%"></ng-template>
  </swiper>

  <!-- First Section -->
  <div class="headingSection">特色商品</div>
  <div class="contentSection">古往今來，風起雲湧
  </div>
  <mat-grid-list cols="1" rowHeight="1:1" class="smallProductGridList">
    <mat-grid-tile>
      <figure>
        <img class="imageHoverEffect" src="./assets/images/product_1.jpg" alt="Tea" width="100%">
        <figcaption>茶包系列</figcaption>
      </figure>
    </mat-grid-tile>

    <mat-grid-tile>
      <figure>
        <img class="imageHoverEffect" src="./assets/images/product_2.jpg" alt="Tea" width="100%">
        <figcaption>原片系列</figcaption>
      </figure>
    </mat-grid-tile>

    <mat-grid-tile>
      <figure>
        <img class="imageHoverEffect" src="./assets/images/product_3.jpg" alt="Tea" width="100%">
        <figcaption>茶點系列</figcaption>
      </figure>
    </mat-grid-tile>

    <mat-grid-tile>
      <figure>
        <img class="imageHoverEffect" src="./assets/images/product_4.jpg" alt="Tea" width="100%">
        <figcaption>茶具系列</figcaption>
      </figure>
    </mat-grid-tile>

    <mat-grid-tile>
      <figure>
        <img class="imageHoverEffect" src="./assets/images/product_5.jpg" alt="Tea" width="100%">
        <figcaption>組合系列</figcaption>
      </figure>
    </mat-grid-tile>

    <mat-grid-tile>
      <figure>
        <img class="imageHoverEffect" src="./assets/images/product_6.jpg" alt="Tea" width="100%">
        <figcaption>禮盒系列</figcaption>
      </figure>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="1:1" class="largeProductGridList">
    <mat-grid-tile>
      <figure>
        <img class="imageHoverEffect" src="./assets/images/product_1.jpg" alt="Tea" width="100%">
        <figcaption>茶包系列</figcaption>
      </figure>
    </mat-grid-tile>

    <mat-grid-tile>
      <figure>
        <img class="imageHoverEffect" src="./assets/images/product_2.jpg" alt="Tea" width="100%">
        <figcaption>原片系列</figcaption>
      </figure>
    </mat-grid-tile>

    <mat-grid-tile>
      <figure>
        <img class="imageHoverEffect" src="./assets/images/product_3.jpg" alt="Tea" width="100%">
        <figcaption>茶點系列</figcaption>
      </figure>
    </mat-grid-tile>

    <mat-grid-tile>
      <figure>
        <img class="imageHoverEffect" src="./assets/images/product_4.jpg" alt="Tea" width="100%">
        <figcaption>茶具系列</figcaption>
      </figure>
    </mat-grid-tile>

    <mat-grid-tile>
      <figure>
        <img class="imageHoverEffect" src="./assets/images/product_5.jpg" alt="Tea" width="100%">
        <figcaption>組合系列</figcaption>
      </figure>
    </mat-grid-tile>

    <mat-grid-tile>
      <figure>
        <img class="imageHoverEffect" src="./assets/images/product_6.jpg" alt="Tea" width="100%">
        <figcaption>禮盒系列</figcaption>
      </figure>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Second Section -->
  <h1 class="headingSection">關於我們</h1>
  <div class="aboutUsSection">
    <div class="aboutUsDescription">新世代茶業文化創意品牌「古風茶創」，以販售令人安心飲用的優質好茶為根本，
      結合新世代思維，重新詮釋茶文化的概念， 追求的，不只是純粹的茶滋味，而是將茶融入生活、帶入溫度， 品嚐每一口茶與情感的連結。
    </div>
    <div class="introductionVideo"><iframe class="introductionVideoFrame"
        src="https://www.youtube.com/embed/hexcIWsSp-0" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe></div>
  </div>

</div>