@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap');

/* .container {
  background-color: #F1F1EF;
  padding-bottom: 20px;
} */

@media screen and (min-width: 577px) {
  .swiper {
    --swiper-navigation-size: 25px;
  }
  .productsWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .productsWrapper>div>img {
    max-width: 300px;
  }
}

@media screen and (max-width: 576px) {
  .swiper {
    --swiper-navigation-size: 10px;
  }
  .productsWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

/* *:not(.material-icons, .material-symbols-outlined) {
  font-family: 'Noto Serif TC', serif;
} */

.swiper {
  --swiper-theme-color: #ffffff;
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #F2AC0E;
}

::ng-deep .swiper-button-prev, ::ng-deep .swiper-button-next {
  background-color: black;
  border-radius: 4px;
  padding: 8px;
  opacity: 0.25;
  transition: all 0.25s ease;
}

::ng-deep .swiper-button-prev:hover, ::ng-deep .swiper-button-next:hover {
  opacity: 0.5;
  transition: all 0.25s ease;
}

.headingSection {
  font-family: 'Noto Serif TC', serif;
  text-align: center;
  margin: 80px auto 20px;
  font-size: 2rem;
  /* color: #747474; */
  letter-spacing: 0.5rem;
}

.contentSection {
  font-family: 'Noto Serif TC', serif;
  text-align: center;
  color: #876116;
  letter-spacing: 0.6rem;
  font-size: 16px;
}

.productsWrapper {
  display: grid;
  margin: 20px auto;
  column-gap: 10px;
  row-gap: 2em;
  max-width: 1500px;
  padding: 0 20px;
}

.productsWrapper>div {
  text-align: center;
}

.imageHoverEffect {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.5s ease;
}

.imageHoverEffect:hover {
  opacity: 1;
  transition: all 0.5s ease;
}


.aboutUsSection {
  margin-left: 20px;
  margin-right: 20px;
}

.aboutUsDescription {
  margin: 0 auto 20px;
  margin-bottom: 20px;
  background-color: #E0E0E0;
  padding: 2em;
  border-radius: 8px;
  max-width: 75vw;
}

.introductionVideo {
  text-align: center;
  /* margin-bottom: 20px; */
}

.introductionVideoFrame {
  width: 60vw;
  height: calc(60vw/1.77);
  text-align: center;
}
